.card {
  position: relative;
  width: 198px;
  height: 406px;
  padding: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: Roboto, sans-serif;
  background: #fff;

  &__image {
    position: absolute;
    top: 32px;
    left: 20px;
    width: 160px;
    height: 134px;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__name {
    position: absolute;
    top: 206px;
    left: 16px;
    right: 16px;
    width: 166px;
    height: 36px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #060b35;
  }

  &__code {
    position: absolute;
    top: 247px;
    left: 17px;
    width: 98px;
    height: 14px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #616070;
    padding-right: 84px;
  }

  &__review {
    position: absolute;
    top: 277px;
    left: 17px;
    width: 166px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .stars {
      display: flex;
      gap: 1px;

      .star {
        width: 16px;
        height: 16px;

        img {
          width: 100%;
          height: 100%;
        }

        &.star--active img {
          filter: none;
        }
      }
    }

    &-count {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 10px; // tutaj możesz zmieniać rozmiar
      line-height: 14px;
      text-align: right;
      color: #616070;
    }
  }

  &__price-box {
    position: absolute;
    top: 316px;
    left: 16px;
    width: 166px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      font-size: 12px;
    }

    &-number {
      font-size: 16px;
      font-weight: 700;
      color: #060b35;
    }
  }

  &__buy {
    position: absolute;
    top: 350px;
    left: 16px;
    width: 166px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #00acdc;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      background-color: color.adjust(#00acdc, $lightness: -15%);
    }
  }
}
