@use './variables' as vars;

.card {
  position: relative;
  width: vars.$card-width;
  height: vars.$card-height;
  padding: 0;
  box-shadow: vars.$card-shadow;
  background: vars.$card-bg;
  font-family: vars.$font-family;

  &__image {
    position: absolute;
    top: 32px;
    left: 20px;
    width: 160px;
    height: 134px;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__name {
    position: absolute;
    top: 206px;
    left: 16px;
    right: 16px;
    height: 36px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #060b35;
  }

  &__code {
    position: absolute;
    top: 247px;
    left: 17px;
    width: 98px;
    height: 14px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #616070;
  }

  &__review {
    position: absolute;
    top: 277px;
    left: 17px;
    width: 166px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-count {
      font-size: 10px;
      line-height: 14px;
      color: #616070;
      text-align: right;
    }
  }

  &__price-box {
    position: absolute;
    top: 316px;
    left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 166px;
    height: 18px;

    &-text {
      font-size: 12px;
    }

    &-number {
      font-size: 16px;
      font-weight: 700;
      color: #060b35;
    }
  }

  &__buy {
    position: absolute;
    top: 350px;
    left: 16px;
    width: 166px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: vars.$primary-color;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      background-color: #0095b8;
    }
  }
}
