
@use './variables' as vars;

.card {
  display: flex;
  flex-direction: column;
  width: vars.$card-width;       
  padding: 16px;
  box-shadow: vars.$card-shadow;
  background: vars.$card-bg;
  font-family: vars.$font-family;
  border-radius: 5px;
  transition: all 0.3s ease;

  
  &:hover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transform: translateY(-4px);
  }

  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 4px;
    }
  }

  &__name {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #060b35;
    text-align: center;
  }

  &__code {
    margin-top: 4px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #616070;
    text-align: center;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;

    &-count {
      font-size: 10px;
      line-height: 14px;
      color: #616070;
      text-align: right;
    }
  }

  &__price-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    width: 100%;

    &-text {
      font-size: 12px;
    }

    &-number {
      font-size: 16px;
      font-weight: 700;
      color: #060b35;
    }
  }

  &__buy {
    margin-top: 12px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: vars.$primary-color;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #00acdc;
    }

    &:active {
      background-color: #fff;
      color: vars.$primary-color;
    }
  }
}



