@use './variables';
@use './card';
@use './stars';

body {
  font-family: variables.$font-family;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.cards-container {
  display: flex;
  gap: 20px;
}
