@import './variables';
@import './card';
@import './stars';

body {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.cards-container {
  display: flex;
  gap: 20px;
}
