.stars {
  display: flex;
  gap: 2px;

  &__star {
    width: 16px;
    height: 16px;
    background-image: url('../images/star.svg'); // nieaktywna gwiazdka
    background-size: cover;
  }

  &--1 &__star:nth-child(-n + 1),
  &--2 &__star:nth-child(-n + 2),
  &--3 &__star:nth-child(-n + 3),
  &--4 &__star:nth-child(-n + 4),
  &--5 &__star:nth-child(-n + 5) {
    background-image: url('../images/star-active.svg'); // aktywna gwiazdka
  }
}

