<<<<<<< HEAD
=======
@use './variables' as vars;

>>>>>>> 31d6679 (Complete Product Cards task: flexbox, SCSS, hover & active BUY)
.stars {
  display: flex;
  gap: 2px;

<<<<<<< HEAD
  .star {
    width: 16px;
    height: 16px;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &--1 .star:nth-child(-n + 1),
  &--2 .star:nth-child(-n + 2),
  &--3 .star:nth-child(-n + 3),
  &--4 .star:nth-child(-n + 4),
  &--5 .star:nth-child(-n + 5) {
    img {
      content: url('../images/star-active.svg');
=======
  &__star {
    width: 16px;
    height: 16px;
    background-image: url(vars.$star-inactive);
    background-size: cover;
  }

  @for $i from 1 through 5 {
    &--#{$i} &__star:nth-child(-n + #{$i}) {
      background-image: url(vars.$star-active);
>>>>>>> 31d6679 (Complete Product Cards task: flexbox, SCSS, hover & active BUY)
    }
  }
}
