$font-family: Roboto, sans-serif;
$card-width: 200px;
$card-height: 406px;
$card-bg: #fff;
$card-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
$primary-color: #00acdc;
$star-inactive: '../images/star.svg';
$star-active: '../images/star-active.svg';
