$font-family: 'Roboto', sans-serif;

$primary-color: #00acdc;
$card-width: 200px;
$card-height: 408px;
$card-bg: #fff;
$card-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

$star-inactive: '../images/star.svg';
$star-active: '../images/star-active.svg';

